{% render 'section-styles', section: section %}

<div class="page-width">
  <div class="main_content d-flex align-center" data-aos>
    {% if section.settings.image != blank %}
      <div class="image_wrapper">{% render 'rimage', image: section.settings.image %}</div>
    {% endif %}
    <div class="content_wrapper">
      {% if section.settings.title != blank %}
        <div class="h3 title appear-delay{% cycle '', '-1' %}">{{ section.settings.title }}</div>
      {% endif %}
      {% if section.settings.content != blank %}
        <div class="rte appear-delay{% cycle '', '-1' %}">{{ section.settings.content }}</div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Our guarantee",
  "class": "guarantee",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 75
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 75
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    }
  ],
  "presets": [
    {
      "name": "Our guarantee"
    }
  ]
}
{% endschema %}